.menu {
    -fx-background-color: White;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: LightGray;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.game-field {
    -fx-background-color: #8ab92d;
    -fx-border-radius: 0;
    -fx-border-width: 1px;
    -fx-border-color: #99cd32;
    -fx-font-size: 15px;
    -fx-text-fill: White;
}

.game-field:hover {
    -fx-background-color: #a4d246;
}

.game-field:pressed, .game-field--visible {
    -fx-background-color: #b7dc75;
    -fx-border-color: #c2dd8d;
}

.game-field--1 {
    -fx-text-fill: Blue;
}

.game-field--2 {
    -fx-text-fill: Green;
}

.game-field--3 {
    -fx-text-fill: Red;
}

.game-field--4, .game-field--5, .game-field--6, .game-field--7, .game-field--8 {
    -fx-text-fill: DarkViolet;
}

.game-field--bomb {
    -fx-background-color: #fff96b;
    -fx-background-image: url('mine.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 15px 15px;
}

.greeting {
    -fx-font-size: 16px;
}
