.menu {
    -fx-background-color: White;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: LightGray;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.game-field {
    -fx-background-color: YellowGreen;
    -fx-border-radius: 0;
    -fx-border-width: 1px;
    -fx-border-color: olivedrab;
}

.game-field:hover {
    -fx-background-color: olivedrab;
}
